/.vs/PriorityQueue/v16/Server/sqlite3/db.lock
/.vs/PriorityQueue/v16/Server/sqlite3/storage.ide
/.vs/PriorityQueue/v16/Server/sqlite3/storage.ide-shm
/.vs/PriorityQueue/v16/Server/sqlite3/storage.ide-wal
/PriorityQueue/obj/Debug/netstandard2.0/PriorityQueue.AssemblyInfo.cs
/PriorityQueue/obj/Debug/netstandard2.0/PriorityQueue.AssemblyInfoInputs.cache
/PriorityQueue/obj/Debug/netstandard2.0/PriorityQueue.assets.cache
/PriorityQueue/obj/Debug/netstandard2.0/PriorityQueue.csprojAssemblyReference.cache
/PriorityQueue/obj/PriorityQueue.csproj.nuget.cache
/PriorityQueue/obj/PriorityQueue.csproj.nuget.dgspec.json
/PriorityQueue/obj/PriorityQueue.csproj.nuget.g.props
/PriorityQueue/obj/PriorityQueue.csproj.nuget.g.targets
/PriorityQueue/obj/project.assets.json
/PriorityQueue/obj/project.nuget.cache
/Tests.PriorityQueue/obj/Debug/netcoreapp3.0/Tests.PriorityQueue.AssemblyInfo.cs
/Tests.PriorityQueue/obj/Debug/netcoreapp3.0/Tests.PriorityQueue.AssemblyInfoInputs.cache
/Tests.PriorityQueue/obj/Debug/netcoreapp3.0/Tests.PriorityQueue.assets.cache
/Tests.PriorityQueue/obj/Debug/netcoreapp3.0/Tests.PriorityQueue.csprojAssemblyReference.cache
/Tests.PriorityQueue/obj/project.assets.json
/Tests.PriorityQueue/obj/project.nuget.cache
/Tests.PriorityQueue/obj/Tests.PriorityQueue.csproj.nuget.cache
/Tests.PriorityQueue/obj/Tests.PriorityQueue.csproj.nuget.dgspec.json
/Tests.PriorityQueue/obj/Tests.PriorityQueue.csproj.nuget.g.props
/Tests.PriorityQueue/obj/Tests.PriorityQueue.csproj.nuget.g.targets
